%h2
  Edit #{resource_name.to_s.humanize}
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    Currently waiting confirmation for: #{resource.unconfirmed_email}
  = f.text_field(:name, label: "Username", placeholder: "Username")
  = f.text_field(:email, placeholder: "Email Address")
  = f.password_field(:password, placeholder: "Password")
  = f.password_field(:current_password, placeholder: "Currrent Password")
  = f.submit("Update")
  = link_to("Back", :back, class: "small radius warning button")
