<%= form_for(@image, :html => {:multipart => true}) do |f| %>
  <div class="large-6 columns">
    <%= f.text_field(:tag_list, placeholder: 'Tag One, Tag Two') %>
  </div>

  <div class="large-12 columns">
    <%= image_tag(@image.asset.thumbnail.url) %>
    
    <%= f.file_field(:asset, label: 'Image') %>
    <%= f.hidden_field(:asset_cache) %>
  </div>

  <div class="large-6 columns end">
    <%= f.submit('Update Image!') %>
  </div>
<% end %>
