= f.text_field(:tag_list, placeholder: "Tag One, Tag Two", value: @image.tag_list.to_s)
= f.text_field(:artist, placeholder: "Artist")
= f.text_field(:source, placeholder: "Source")

= image_tag(@image.asset.thumbnail.url) unless @image.asset.blank?
= f.file_field(:asset, label: "Image")
= f.hidden_field(:asset_cache)
