= form_for(@image, :html => {:multipart => true}) do |f|
  .large-6.columns
    = f.text_field(:tag_list, placeholder: 'Tag One, Tag Two')
  .large-6.columns
    = link_to('Destroy', @image, :method => :delete, :class => 'right button alert')
  .large-12.columns
    = image_tag(@image.asset.thumbnail.url)
    = f.file_field(:asset, label: 'Image')
    = f.hidden_field(:asset_cache)
  .large-6.columns.end
    = f.submit('Update Image!')
