= form_for(@image, url: images_path, :html => {:multipart => true}) do |f|
  .large-6.columns
    = f.text_field(:tag_list, placeholder: 'Tag One, Tag Two')
  .large-12.columns
    = f.file_field(:asset, label: 'Image')
    = f.hidden_field(:asset_cache)
  .large-12.columns.end
    = f.submit('Upload Image!')
